language: python

python:
- '2.7'
- '3.5'

install: pip install -r requirements.txt

script:
- pip install -U flake8
- flake8 parsec --exclude=parsec/commands/ --ignore=E501
- python setup.py install
- printf "https://usegalaxy.org\ntesting\ny" | parsec init
- sed -i 's/testing//g' ~/.parsec.yml
- parsec config get_config | grep version

deploy:
  provider: pypi
  user: erasche
  password:
    secure: XfxDtN97f2yRXqw0VVG+GqLfStZIlPQWX+4BT1mP7RwHSJUfPUMEUdzBOi361XHdNPUbuaVr95mFty6eCiTT9WUiEXyQ6FHtK0I8mBt84twlI3caRMCQjJQTsK8mYKKWWliJV2ywQPu/XkWgklZJRhauYU5MoY9hKUB1mNx6FwM=
  on:
    tags: true
    all_branches: true
    distributions: sdist bdist_wheel
    repo: galaxy-iuc/parsec

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bbb7ff1f8cc46ceaa3a8
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
